<div class="contact">
  <h2 class="contact-us">Contact Us.</h2>
  <p class="team">Team MAITrix </p>
  <div class="container-fluid">
    <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
    <a href="mailto:MAitrix444@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    <p class="copyright">© Copyright MAITirx</p>
  </div>
</div>