<link rel="stylesheet" href="/css/home.css">

<div class=" conatiner-fluid first">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img class="image1" src="/images/20180327083133_56881.png" alt="img">
                <div class="carousel-caption d-none d-md-block text">
                    <h2>ANPR SYSTEM</h2>
                    <p>Automatic Number Plate Recognition (ANPR)</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="image" src="/images/products_02.jpg" alt="img">
                <div class="carousel-caption d-none d-md-block text">

                    <H4>Automatic Number Plate Recognition (ANPR) is a highly accurate system capable of reading vehicle
                        number plates without human intervention.
                    </H4>
                </div>
            </div>
            <div class="carousel-item">
                <img class="image" src="/images/Blog (1).png" alt="img">
                <div class="carousel-caption d-none d-md-block text">
                    <h4>check if a vehicle is registered, or to identify vehicles related to traffic violations</h4>

                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="conatiner-fluid middle">
    <div class="row ">
        <div class="col-lg-6 info">
            <h3 class="h30" style="display:block;max-width:80%;margin:0 auto;">What Can the Solution Do?</h3><br><br>
            <img class="pic" src="/images/download.jpeg" alt="img">
        </div>
        <div class="col-lg-5 info ">
            <h4>Improve efficiency and security while reducing costs</h4>
            <p class="para">
                Automatic number-plate recognition(ANPR) is a technology that uses optical character recognition on
                images to read vehicle registration plates.

                Rapid technological developments have allowed DaHua to enable camera-side integration of ANPR
                technology. This means it can be wide used to improve efficiency and security in defferent
                solutions. In anddition, this camera-side ANPR is more cost-effective than traditional server-side
                analysis solutions.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 info">
            <br>
            <p>Dahua ANPR solutions are include Dahua cameras and software that runs on either the camera or a
                server. It automatically captures license plates in real time

                Relying on big image data and well train deep-learning models, the ANPR engine includes following
                features

                • Multilingual Recognition Recognizes English, Arabic, Chinese, Cyrillic, Thai, and other languages
                • High Recognition Rate – 95%-98% with alphanumeric number plates
                • Fast Recognition - The full reading process takes around 100 milliseconds
                • Cost-effective Technology - Outstanding price/performance ratio</p>
        </div>
        <div class="col-lg-5 info ">
            <h3 class="h30" style="display:block;max-width:80%;margin:0 auto;">Key Technologies</h3><br><br>
            <img class="pic2" src="/images/redlight.png" alt="img">
        </div>
    </div>
</div>

<div class="conatiner-fluid middle2">
    <div class="row ">
        <div class="col-lg-6 info">
            <br><br>
            <h3 class="h30" style="display:block;max-width:80%;margin:0 auto;">Typical Application</h3><br><br>
            <img class="pic" src="/images/typical.png" alt="img">
        </div>
        <div class="col-lg-5 info">
            <br><br>
            <p> Automatic ANPR is a valuable solution for multiple applications, including:

                • Road Safety Enforcement, Automatically recognizes speeding and red-light violations
                • Law Enforcement , Verify vehicle license and registration. Provides an automatic alert when
                blacklisted vehicles pass by
                • Electronic Toll Collection, Enables free-flow through and catches the vehicle plate number
                • Parking Guidance, Automatically recognize available parking spots and guides vehicles along the
                best route
                • Entrance & Exit Control, Raise barriers for authorized vehicles
            </p>
        </div>
    </div>
    <br>
    <h3 class="h31 h30">Deployable System Design</h3>
    <div class="row">
        <div class="col-lg-1 middle2 ">
            <img class="system" src="/images/img.png" alt="img">
        </div>
    </div>
</div>
<div class="conatiner-fluid middle3">
    <h3 class="h31 h30">Scanning Information</h3> <br><br>
    <div class="row ">

        <div class="col-lg-12">
            <img class="sample" src="/images/szovegkozi_1.jpg" alt="img">

        </div>
    </div>
    <br>
    <div class="row ">
        <div class=" col-lg-12 info ">
            <h5>At the front-side installation, the horizontal angle should be less than 30°, which means if the height
                is 6m, the minimum snapshot distance is 10.2m. We recommend a standard horizontal distance of 25m.
            </h5>
        </div>
        <div class="col-lg-12">
            <img class="sample" src="images/sample.png" alt="img">

        </div>
    </div>
    <br>
    <div class="row ">
        <div class=" col-lg-12 info ">
            <h5>In side installations, the angle between the camera and lane line should be less than 30°, which means
                if the height of pole is 2m, the minimum image capture distance should be at least 7m..</h5>
        </div>
        <div class="col-lg-12">
            <img class="sample" src="images/sample2.png" alt="img">

        </div>
    </div>
</div>
