<div class="result-1">
    <h2 class="h31 h30">Result-1</h1>
    <video class="video" width="1700" height="500" autoplay controls loop><source src="/videos/WhatsApp Video 2023-03-26 at 10.08.46 PM.mp4" type="video/mp4">
  </video>
</div>
<div class="preprocessing">
    <div class="stage-1">
        <h2 class="h31 h30">Preprocessing</h2>
        <img class="image-pre" width="500px" height="400px" src="/images/num_plat.jpg" alt="img">
    
    
      
        <img class="image-pre" width="500px" height="400px" src="/images/b_w.jpg" alt="img">
   
  
       
        <img class="image-pre" width="500px" height="400px" src="/images/thresholded.jpg" alt="img">
    </div>
</div>

<div class="result-1">
    <h2 class="h31 h30">Result-2</h1>
    <video class="video" width="1700" height="500" autoplay controls loop><source src="/videos/WhatsApp Video 2023-03-26 at 9.28.40 PM.mp4" type="video/mp4"></video>
</div>

<div class="result-1">
    <h2 class="h31 h30">Result-3</h1>
    <video class="video" width="1700" height="500" autoplay controls loop><source src="/videos/WhatsApp Video 2023-03-26 at 10.18.22 PM.mp4" type="video/mp4">
  </video>
</div>